/* confifuração geral */
body{
  background: lightblue;
  font: normal 15pt Arial;
}
#header{
  text-align: center;
  padding-top: 20px;
  font: bold 20pt Arial;
  color:lightslategray; 
}
#section{
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404)
}
#section:hover{
  background: white;
  width: 505px;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.534);
  transition: .8s
}
div{
  text-align: center;
  padding: 10px;
}
#footer{
  text-align: center;
  padding-top: 20px;
  color:lightslategray;
  font-style: italic;
}